{% extends "blog.html" %} {% block title %}Home - OPENSCROLL{% endblock %} {% block content %}
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">


<div class="author-info">
    {% if current_user.avatar_filename %}
    <img src="{{ url_for('static', filename='avatars/' + current_user.avatar_filename) }}" alt="User Avatar" class="rounded-circle avatar-sm"> {% else %}
    <img src="{{ url_for('static', filename='img/default_avatar.png') }}" alt="Default Avatar" class="rounded-circle avatar-sm"> {% endif %}
    <p>{{ current_user.first_name }}</p>
</div>

<style>
    .avatar-sm {
        width: 50px;
        height: 50px;
    }
</style>

<!-- Card for the note input form -->
<div class="card mt-lg-5">
    <div class="card-body">

        <!-- Form for submitting a new note -->
        <form method="POST" enctype="multipart/form-data">
            <!-- Input field for entering the note title -->
            <div class="mb-3">
                <input type="text" name="title" id="title" class="form-control" placeholder="Title">
            </div>
            <!-- Textarea for entering the note content -->
            <div class="mb-3">
                <textarea name="note" id="note" class="form-control" placeholder="Share an update, {{ user.username }}"></textarea>
            </div>
            <!-- Input field for uploading images -->
            <div class="mb-3">
                <input type="file" name="image" id="image" class="form-control">
            </div>
            <!-- Submit button aligned to the right -->
            <div class="form-group mt-md-2">
                <button type="submit" class="btn btn-primary" style="background: #437d9c; ">Post</button>
            </div>
        </form>
    </div>
</div>

<!-- List of notes displayed as a flush list group -->
<ul class="list-group list-group-flush" id="notes">
    <!-- Loop through user's notes in reverse order -->
    {% for note in user.notes|reverse %}
    <!-- List item for each note -->
    <li class="list-group-item">
        <!-- Card for displaying the note content -->
        <div class="card">
            <div class="card-body">
                {{ note.data }} {% if note.image_data %}
                <img src="data:image/png;base64,{{ note.image_data }}" class="img-fluid mb-3" alt="Post Image"> {% endif %}
                <!-- Display the note content -->
            </div>
            <!-- Trigger the deleteNote JavaScript function when clicking on the note -->
            <div class="card-footer">
                <button class="btn btn-danger" style="font-size: 10px;" onclick="deleteNote({{ note.id }})">Delete</button>

            </div>
        </div>
    </li>
    {% endfor %}
</ul>

<!-- End #main -->
</section>
</div>
{% endblock %}