{% extends "base.html" %} {% block title %}Home - FreePost{% endblock %} {% block content %}

<!-- Extend the base template and set the page title to "Home - FreePost" -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex justify-cntent-center align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <!-- Slide 1 -->
        <div class="carousel-item active">
            <div class="carousel-container">
                <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Openscroll</span></h2>
                <p class="animate__animated animate__fadeInUp">Usequi nihil ut aliquam. Occaecati alias dolorem mollitia ut. Similique ea voluptatem. Esse doloremque accusamus repellendus deleniti vel. Minus et tempore modi architecto.
                </p>
                <a href="/login" class="btn-get-started animate__animated animate__fadeInUp">Login</a>
            </div>
        </div>
</section>
<!-- End Hero -->

{% endblock %}