{% extends "base.html" %} {% block title %}Home - OPENSCROLL Register{% endblock %} {% block content %}

<!-- ======= Hero Section ======= -->

<!-- Slide 1 -->
<div class="carousel-item active">
    <div class="carousel-container">
        <h3 align="center"></h3>
        <h2 class="animate__animated animate__fadeInDown">Register</h2>
        <form method="POST" action="/sign-up">
            <!-- Form for user sign-up -->

            <div class="form-group">
                <!-- Form group for the email input -->
                <label for="email"></label>
                <!-- Empty label (for better accessibility) -->
                <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
                <!-- Email input field with placeholder text -->
            </div>

            <div class="form-group">
                <!-- Form group for the first name input -->
                <label for="firstName"></label>
                <!-- Empty label (for better accessibility) -->
                <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name" />
                <!-- First name input field with placeholder text -->
            </div>

            <div class="form-group">
                <!-- Form group for the password input -->
                <label for="password1"></label>
                <!-- Empty label (for better accessibility) -->
                <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password" />
                <!-- Password input field with placeholder text -->
            </div>

            <div class="form-group">
                <!-- Form group for confirming the password input -->
                <label for="password2"></label>
                <!-- Empty label (for better accessibility) -->
                <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password" />
                <!-- Confirm password input field with placeholder text -->
            </div>

            <br />

            <div style="position: relative; z-index: 1;">
                <button type="submit" class="btn-get-started animate__animated animate__fadeInUp" style="background: #549bc2;">Submit</button>
            </div>
            <!-- Submit button for the registration form with primary button style -->
        </form>
    </div>
</div>
</div>
</section>
<!-- End Hero -->

{% endblock %}
